.top {
    height: 300px;
    background-color: red;
    width: 300px;
}

.body .left {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: green;
    cursor: pointer;
    transition: all 1s;
}

.body .right {
    height: 150px;
    width: 150px;
    cursor: pointer;
    background-color: yellow;
}

.bottom {
    height: 300px;
    width: 300px;
    background-color: blue;
}